/* navbar */

@media screen and (min-width: 992px) {
  .bars-btn {
    display: none;
  }
  .light-bulb {
    display: block !important;
  }
  .search-btn {
    display: none;
  }
  .nav-container {
    display: flex !important;
  }
}

/* navbar end */

/* --------------------------- */

/* hero */
@media screen and (min-width: 992px) {
  .banner-searchbar {
    display: flex !important;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
    padding: 0 1rem;
  }
  .banner-name h2 {
    bottom: 5rem !important;
  }
  .banner-play {
    font-size: 3rem !important;
  }
}
@media screen and (min-width: 1210px) {
  .banner-searchbar {
    padding: 0;
  }
  .banner-name h2 {
    padding: 0 !important;
  }
}

/* hero end */
