@import url(variables.css);

/* Navbar & Sidebar */
/* Navbar & Sidebar */
/* Navbar & Sidebar */

@media screen and (min-width: 1024px) {
  .links-container {
    display: flex !important;
    column-gap: 1rem;
  }
  .nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
    letter-spacing: 0;
  }
  .authorization-container {
    display: flex !important;
    column-gap: 1rem;
  }
  .wrapper-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
  }
  .hamburger-btn {
    display: none;
  }
  .search-btn {
    display: none;
  }
}

/* Hero */
/* Hero */
/* Hero */

@media screen and (min-width: 1024px) {
  .hero-name {
    font-size: 1.5rem;
    bottom: 7rem !important;
    padding-left: 2rem;
  }
  .searchbar-wrapper {
    display: block !important;
  }
}
@media screen and (max-width: 1024px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
  .search-products-container {
    top: 3.9rem !important;
    height: 250px !important;
  }
  .search-img-container {
    height: 200px !important;
  }
  .search-img {
    height: 100% !important;
  }
  .search-img-name {
    font-size: 0.7rem !important;
    bottom: 1rem !important;
  }
}
@media screen and (min-width: 1150px) {
  .hero-name {
    padding: 0 !important;
  }
}
@media screen and (max-width: 1150px) {
  .searchbar-container {
    width: 92.5% !important;
  }
}

/* Rows */
/* Rows */
/* Rows */

@media screen and (min-width: 1024px) {
  .row-title {
    font-size: 1.3rem !important;
  }
}

@media screen and (min-width: 640px) {
  .row-img {
    height: 230px !important;
  }
}
@media screen and (min-width: 768px) {
  .row-img {
    height: 250px !important;
  }
}
@media screen and (min-width: 1024px) {
  .row-img {
    height: 260px !important;
  }
}
@media screen and (min-width: 1200px) {
  .row-img {
    height: 275px !important;
  }
}

@media screen and (max-width: 1024px) {
  .row-overlay {
    opacity: 0 !important;
  }
}

/* movies and tvs */
/* movies and tvs */
/* movies and tvs */

@media screen and (max-width: 1170px) {
  .products-container {
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr)) !important;
  }
  .product {
    height: 250px !important;
    width: 170px !important;
  }
}
@media screen and (max-width: 1130px) {
  .products-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)) !important;
  }
  .product {
    height: 230px !important;
    width: 165px !important;
  }
}
@media screen and (max-width: 1100px) {
  .product {
    height: 210px !important;
    width: 150px !important;
  }
}
@media screen and (max-width: 1024px) {
  .products-container {
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr)) !important;
  }
  .filters-input {
    display: none;
  }
  .filters-form {
    top: 111px !important;
  }
}
@media screen and (max-width: 1010px) {
  .product {
    height: 190px !important;
    width: 140px !important;
  }
}
@media screen and (max-width: 802px) {
  .product {
    height: 180px !important;
    width: 130px !important;
  }
}
@media screen and (max-width: 615px) {
  .product {
    height: 160px !important;
    width: 120px !important;
  }
}
@media screen and (max-width: 575px) {
  .product {
    height: 150px !important;
    width: 110px !important;
  }
}
@media screen and (max-width: 535px) {
  .product {
    height: 140px !important;
    width: 100px !important;
  }
}
@media screen and (max-width: 500px) {
  .product {
    height: 130px !important;
    width: 100px !important;
  }
}
